<%- include('../partials/header') %>
<link rel='stylesheet' href='/style-other-pages.css'/> 
</head>
<body>
<header>
    <title>Deleted all posts</title>
</header>
<div class="background-image">
<div class="container">
    <h3></h3>
    <h3>This will delete all posts. Are you sure you wish to do this you twat?!</h3>
    <div>
        <a class="go-back-home" href="/"> Ooops. Nope. Take me back to my precious posts!</a>
        <a class="go-back-home" href="/confirmDeleteAllPage/deleteAllPage"> I SAID DELETE ALL!!</a>
    </div>
</div>
</div>
<div class="pading-bottom">
    <p></p> 
</div> 
<%- include('../partials/footer') %>